@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Cormorant Garamond', serif;
    font-style: light;
}

.contenedor {
    padding: 0px 0;
    width: 55%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #145A32;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background: #000000;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(120, 82%, 33%, 0.603), hsla(0, 0%, 0%, 0.603)), url(../img/portada.jpg);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(120, 82%, 33%, 0.603), hsla(0, 0%, 0%, 0.603)), url(../img/portada.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: center;
    padding: 30px 50px 50px 50px;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
    
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.nav{
    --padding-contenedor:80px;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__titulo{
    font-weight: 300;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items{
    list-style: none;
}

.nav__links{
    color: #fff;
    text-decoration: none;
}

.titulo {
    color: #145A32;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img{
    display: block;
    width: 30px;
}

.nav__close{
    display: var(--show, none);
}


/* About Stray Kids */

main .inicio-de-stray-kids{
    display: flex;
    padding: 30px 0 60px 0;
}

.imagen-about-guys{
    width: 100%;
    margin-bottom: 80px;
    overflow: hidden;
    position: center;
}

.inicio-de-stray-kids .contenido-textos-inicio-de-stray-kids{
    width: 100%;
}

.contenido-textos-inicio-de-stray-kids p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 14px;
    font-style: light;
    line-height: 18px;
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    overflow: hidden;
}

/* Debut */

.contenedor-debut{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-fandom{
    width: 48%;
}

.debut .contenido-textos-debut{
    width: 48%;
}

.contenido-textos-debut p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 14px;
    font-style: light;
    line-height: 18px;
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    overflow: hidden;
}

.contenido-textos-debut a{
    color:rgb(0, 0, 0);
    font-weight: 300;
    text-decoration: underline;
    margin-right: 10px;
}


/* INFORMATION */

.imagen-about-info{
    width: 100%;
}

.informacion .contenido-textos-informacion{
    width: 100%;
}

.contenido-textos-informacion p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 14px;
    font-style: light;
    line-height: 18px;
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    overflow: hidden;
}

.contenido-textos-informacion a{
    color:rgb(0, 0, 0);
    font-weight: 300;
    text-decoration: underline;
    margin-right: 10px;
}

/* RECORDS */

.records .contenido-textos-records{
    width: 100%;
    text-align: right;
}

.contenido-textos-records p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 14px;
    font-style: light;
    line-height: 18px;
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: right;
}

/* FUN FACTS */

.imagen-about-fun-facts{
    width: 100%;
}

.fun-facts .contenido-textos-fun-facts{
    width: 100%;
}

.contenido-textos-fun-facts p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 14px;
    font-style: light;
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

.contenido-textos-fun-facts a{
    color:rgb(0, 0, 0);
    font-weight: 300;
    text-decoration: underline;
    margin-right: 10px;
}

/* COUNTS */

.cuentas-para-seguir .contenido-textos-cuentas-para-seguir{
    width: 100%;
    text-align: right;
}

.contenido-textos-cuentas-para-seguir p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 14px;
    font-style: light;
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: right;
}

.contenido-textos-cuentas-para-seguir a{
    color:rgb(0, 0, 0);
    font-weight: 300;
    text-decoration: underline;
    margin-right: 10px;
}

/* footer */

footer{
    background: #000000;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #fff;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #145A32;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

.footer__social{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__icons{
    display: inline-flex;
    margin-bottom: 10px;
}

.footer__img{
    width: 30px;
}

@media screen and (max-width:900px){
        header{
        background-position: center;
    }

    .contenedor{
        padding: 3px 0;
        width: 90%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;
    }

    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT Stray Kids */

    .inicio-de-stray-kids .contenido-textos-inicio-de-stray-kids{
        width: 95%;
    }
    
    .imagen-about-guys{
        margin-bottom: 60px;
        width: 99%;
    }

    /* Debut */

    .contenedor-debut{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .debut .contenido-textos-debut{
        width: 90%;
    }

    .imagen-about-fandom{
        width: 90%;
    }

    /* INFORMATION */

    .informacion .contenido-textos-informacion{
        width: 95%;
    }
    
    .imagen-about-info{
        margin-bottom: 60px;
        width: 99%;
    }

    /* RECORDS */

    .records .contenido-textos-records{
        width: 95%;
    }
    
    /* FUN FACTS */

    .fun-facts .contenido-textos-fun-facts{
        width: 95%;
    }
    
    .imagen-about-fun-facts{
        margin-bottom: 60px;
        width: 99%;
    }

    /* COUNTS */

    .cuentas-para-seguir .contenido-textos-cuentas-para-seguir{
        width: 95%;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}

@media screen and (max-widht:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* About Stray Kids */

    .imagen-about-guys{
        margin-bottom: 60px;
        width: 99%;
    }

    .inicio-de-stray-kids .contenido-textos-inicio-de-stray-kids{
        width: 95%;
    }

   /* Footer */

   .contenedor-footer{
    flex-direction: column;
    border: none;
    }

    .content-foo{
    margin-bottom: 20px;
    text-align: center;
    }

    .content-foo h4{
    border: none;
    }

    .content-foo p{
    color: #ccc;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
    }

    .titulo-final{
    font-size: 20px;
    }
}